*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2020;
    min-height: 7vmax;
}

nav h1 {
    padding: 20px;
}

button {
    font-size: 2vmax;
    background-color: black;
    padding: 2vmax 2.5vmax;
    border: 2px solid #ac7676;
    box-shadow: 0 0 10px #ac7676;
    border-radius: 15px;
    transition: 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: #4734db;
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}