*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    position: fixed;
    top: 0;
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2020;
    min-height: 7vmax;
}

nav h1 {
    padding: 20px;
}

body input,
body button {
    margin-bottom: 20px;
    padding: 10px;
    height: 65px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 20px;
    font-size: 2.5vw;
    outline: none;
    transition: 0.4s ease;
}

.common {
    width: 70vw;
}

.inp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#nEle {
    width: 100%;
}

#range {
    width: 75%;
}

#searchNum {
    width: 100%;
}

#getSearch {
    width: 40%;
}

.add-number {
    display: flex;
    align-items: center;
}


body input:focus {
    box-shadow: 0 0 20px white;
}

body button {
    width: 70vw;
    background-color: #2a2020;
    cursor: pointer;
}

body button:hover {
    background-color: white;
    box-shadow: 0 0 20px white;
    color: #2a2020;
}

body button:active {
    transform: scale(0.95);
}

#result {
    box-shadow: 0 0 20px white;
    background-color: white;
    color: black;
    text-align: center;
}

#list {
    box-shadow: 0 0 20px white;
    background-color: white;
    color: black;
    text-align: center;
}